<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1app</title>
</head>
<body style="margin: auto;">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../assets/logoF1.png" width="70" height="50" class="d-inline-block align-top" alt="" style="margin-left: 40px;">
        </a>
        <a href="#" class="navbar-brand" style="margin-right: 40px;">Pilotos</a>
    </nav>
 
    <div class="pilotos">
        <h2>Pilotos</h2>
    </div>

    <app-driver-list></app-driver-list>
    <router-outlet></router-outlet>
</body>
</html>


