<table class="table table-dark"> 
    <thead>
        <tr>
            <td>NAME</td>
            <td>LAST NAME</td>
            <td>AGE</td>
            <td>CAR NUMBER</td>
            <td>NATIONALITY</td>
            <td>POSITION</td>
        </tr>
    </thead>  
    <tbody>
        <tr *ngFor="let driver of pilotos ">
            <td>
                {{driver.name}}
            </td>
            <td>
                {{driver.lastName}}
            </td>
            <td>
                {{driver.age}}
            </td>
            <td>
                {{driver.carNumber}}
            </td>
            <td>
                {{driver.nationality}}
            </td>
            <td>
                {{driver.position}}
            </td>
            <td style = "width: 100px;">
                <button  type="button" class="btn btn-primary" (click)='view(ver,driver)'>Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)='delete(driver.id)'>X</button>
            </td>
        </tr>
    </tbody>
</table>

<form [formGroup] = "driverForm" style="max-width: 100%;">
    <table class="table table-striped">
        <tr>
            <td><input formControlName= "inputName" placeholder="Name"></td>
            <td><input formControlName = "inputLastName" type="text" placeholder="LastName"></td>
            <td><input formControlName = "inputAge" type="text" placeholder="Age"></td>
            <td><input formControlName = "inputCarNumber" type="text" placeholder="CarNumber"></td>
            <td><input formControlName = "inputNationality" type="text" placeholder="Nationality"></td>
            <td><input formControlName = "inputPosition" type="text" placeholder="Position"></td>
            <td><select formControlName="teamId" class="form-control">
                <option *ngFor="let team of teamList" [value]="team.id">{{team.name}}</option>
            </select></td>
            <td><button (click)='add()' class="addPiloto" class="btn btn-outline-success">Agregar</button></td>
        </tr>
        <tr>
            <p *ngIf="name.errors['required']" style="color: red;">Obligatorio</p>
        </tr>
        
    </table>
    
</form>

<ng-template #ver let-modal>
    <div id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Modificar Piloto</h2>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">X</button>
                </div>
                <div class="modal-body">
                    <input [(ngModel)] = "nameView" placeholder="Name">
                    <input [(ngModel)] = "lastNameView" type="text" placeholder="LastName">
                    <input [(ngModel)] = "ageView" type="text" placeholder="Age">
                    <input [(ngModel)] = "carNumberView" type="text" placeholder="CarNumber">
                    <input [(ngModel)] = "nationalityView" type="text" placeholder="Nationality">
                    <input [(ngModel)] = "positionView" type="text" placeholder="Position">
                    <input [(ngModel)] = "teamView" type="text" placeholder="Team">  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" (click)="modal.close()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

