<table class="table table-striped"> 
    <thead>
        <tr>
            <td>NAME</td>
            <td>LAST NAME</td>
            <td>AGE</td>
            <td>CAR NUMBER</td>
            <td>NATIONALITY</td>
            <td>POSITION</td>
        </tr>
    </thead>  
    <tbody>
        <tr *ngFor="let driver of pilotos ">
            <td>
                {{driver.name}}
            </td>
            <td>
                {{driver.lastName}}
            </td>
            <td>
                {{driver.age}}
            </td>
            <td>
                {{driver.carNumber}}
            </td>
            <td>
                {{driver.nationality}}
            </td>
            <td>
                {{driver.position}}
            </td>
            <td>
                <button (click)='view(ver,driver)'>View</button>
            </td>
            <td>
                <button (click)='delete(driver.id)'>X</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <td><input [(ngModel)] = "inputName" placeholder="Name" name = "inputName"></td>
        <td><input [(ngModel)] = "inputLastName" type="text" placeholder="LastName"></td>
        <td><input [(ngModel)] = "inputAge" type="text" placeholder="Age"></td>
        <td><input [(ngModel)] = "inputCarNumber" type="text" placeholder="CarNumber"></td>
        <td><input [(ngModel)] = "inputNationality" type="text" placeholder="Nationality"></td>
        <td><input [(ngModel)] = "inputPosition" type="text" placeholder="Position"></td>
        <td><input [(ngModel)] = "inputTeam" type="text" placeholder="Team"></td>
        
        <button (click)='add()' class="addPiloto" >+</button>
    </tfoot>
</table>

<ng-template #ver let-modal>
    <div>
        <h2>Modificar Piloto</h2>
        <button (click)="modal.dismiss()">X</button>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td><input [(ngModel)] = "nameView" placeholder="Name"></td>
                    <td><input [(ngModel)] = "lastNameView" type="text" placeholder="LastName"></td>
                    <td><input [(ngModel)] = "ageView" type="text" placeholder="Age"></td>
                    <td><input [(ngModel)] = "carNumberView" type="text" placeholder="CarNumber"></td>
                    <td><input [(ngModel)] = "nationalityView" type="text" placeholder="Nationality"></td>
                    <td><input [(ngModel)] = "positionView" type="text" placeholder="Position"></td>
                    <td><input [(ngModel)] = "teamView" type="text" placeholder="Team"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button (click)="modal.close()">Guardar</button>

    </div>
</ng-template>

