<table class="table" style="text-align: center;"> 
    <thead class="thead-dark">
        <tr style="background-color: #212529; color: white;">
            <th>NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
            <th>CAR NUMBER</th>
            <th>NATIONALITY</th>
            <th>POSITION</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>
        </tr>
    </thead>  
    <tbody>
        <tr *ngFor="let driver of pilotos ">
            <td>
                {{driver.name}}
            </td>
            <td>
                {{driver.lastName}}
            </td>
            <td>
                {{driver.age}}
            </td>
            <td>
                {{driver.carNumber}}
            </td>
            <td>
                {{driver.nationality}}
            </td>
            <td>
                {{driver.position}}
            </td>
            <td>
                <button  type="button" class="btn btn-primary" (click)='view(ver,driver)'>Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)='delete(driver.id)'>X</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="mb-3 text-center text-white fs-3 fw-bold" style="width: 100%; height: 50px; background-color: #212529;">
    AGREGAR PILOTO
</div>

<form [formGroup] = "driverForm" class="mx-auto" style="width: 95%;">
    <table class="table table-sm">
        <thead class="thead-dark text-center text-white">
            <tr style="background-color: #212529;">
                <th>NAME</th>
                <th>LAST NAME</th>
                <th>AGE</th>
                <th>CAR NUMBER</th>
                <th>NATIONALITY</th>
                <th>POS</th>
                <th>TEAM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 15%;"><input formControlName= "inputName" placeholder="Name" class="form-control">
                    <p *ngIf="name.touched && name.errors['required']" style="color: red;">* Obligatorio</p></td>
                <td style="width: 15%;"><input formControlName = "inputLastName" type="text" placeholder="LastName" class="form-control">
                    <p *ngIf="lastName.touched && lastName.errors['required']" style="color: red;">* Obligatorio</p>
                </td>
                <td style="width: 10%;"><input formControlName = "inputAge" type="text" placeholder="Age" class="form-control">
                    <p *ngIf="age.touched && age.errors['required']" style="color: red;">* Obligatorio</p>
                </td>
                <td style="width: 15%;"><input formControlName = "inputCarNumber" type="text" placeholder="CarNumber" class="form-control">
                    <p *ngIf="carNumber.touched && carNumber.errors['required']" style="color: red;">* Obligatorio</p>
                </td>
                <td style="width: 15%;"><input formControlName = "inputNationality" type="text" placeholder="Nationality" class="form-control">
                    <p *ngIf="nationality.touched && nationality.errors['required']" style="color: red;">* Obligatorio</p>
                </td>
                <td style="width: 10%;"><input formControlName = "inputPosition" type="text" placeholder="Position" class="form-control">
                    <p *ngIf="position.touched && position.errors['required']" style="color: red;">* Obligatorio</p>
                    
                </td>
                <td>
                    <select formControlName="teamId" class="form-control">
                        <option *ngFor="let team of teamList" [value]="team.id" [selected]="teamList[0]">{{team.name}}</option>
                    </select>
                </td>
                <td>
                    <button (click)='add()' [disabled]="!driverForm.valid" class="addPiloto" class="btn btn-outline-success" style="width: 100%;">
                        Agregar
                    </button>
                </td>
            </tr>
        </tbody>
       
    </table>
    
</form>

<ng-template #ver let-modal>
    <div id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Modificar Piloto</h2>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">X</button>
                </div>
                <div class="modal-body">
                    <input [(ngModel)] = "nameView" placeholder="Name">
                    <input [(ngModel)] = "lastNameView" type="text" placeholder="LastName">
                    <input [(ngModel)] = "ageView" type="text" placeholder="Age">
                    <input [(ngModel)] = "carNumberView" type="text" placeholder="CarNumber">
                    <input [(ngModel)] = "nationalityView" type="text" placeholder="Nationality">
                    <input [(ngModel)] = "positionView" type="text" placeholder="Position">
                    <select [(ngModel)]="teamView" class="form-control" style="width: 81.5%;">
                        <option *ngFor="let team of teamList" [value]="team.id">{{team.name}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" (click)="modal.close()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

